*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./background.svg");
    animation: rotate 3s infinite alternate linear;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    padding-top: 25vh;
}
.container{
    width: 490px;
    padding: 10px 24px;
    padding-right: 10px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
h1{
    color: #fff;
    margin-left: 85px;
    margin-bottom: 0.5em;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 30px;
}
@media (max-width: 400px){
    h1{
        font-size: 20px;
        margin-left: 57px;
    }
    body{
        animation: rotate 6s infinite alternate linear;
    }
}
@media (max-width: 375px){
    h1{
        font-size: 25px;
    }
    body{
        animation: rotate 6s infinite alternate linear;
    }
}
@media (max-width:281px){
    h1{
        font-size: 20px;
        margin-left: 31px;
    }
    body{
        animation: rotate 6s infinite alternate linear;
    }

}
.blink{
    animation-duration: 150ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  @keyframes blink{
   from{
    opacity: 1;
    back:0;
   }
   to{
    opacity: 0;
   }
  }
.container .box{
    width: 100%;
    display: flex;
}
.box div{
    width: 100%;
}
select{
    width: 95%;
    height: 40px;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    background: #7868e6;
    color: black;
    margin: 0.2em 0;
    padding: 0 1em;
    border-radius: 10px;
    border: none;
}
input{
    width: 95%;
    height: 40px;
    font-size: 1em;
    margin: 0.2em 0;
    border-radius: 10px;
    border: none;
    background: #edeef7;
    outline: none;
    padding: 0 1em;
}
.btn{
    width: 98%;
    height: 40px;
    background: #364547;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin: 0.3em 0;
}
.btn:hover{
    background: aqua;
    color: black;
}
.flag-icon{
    background: var(--color-white);
    width: 30px;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flag-icon img{
    width: 30px;
    height: 20px;
  }
@keyframes rotate{
    100%{
        background-position: 15% 50%;
    }
}
footer{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);;
    padding: 15px 23px;
    color: yellowgreen;
    text-align: center;
    margin-top: auto;
    width: 100%;
    font-size: 20PX;
  }
  footer span a{
    color: #7868e6;
    text-decoration: none;
  }
  footer span a:hover{
    text-decoration: underline;
  }
